{% extends 'core/base.html' %}

{% load static %}
{% load i18n %}
{% load thumbnail %}

{% block title %}{{ _('İletişim') }}{% endblock %}

{% block content %}

<!-- Page Header -->
{% include "page/components/page_header.html" with title=_('İletişim') %}

<section class="py-section ">
    <div class="container px-5">

    
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-8">
                <p>
                    Ares Ecza Deposu olarak sizlere en iyi şekilde hizmet vermeye çalışıyoruz. Mevcut bir
                    müşteriyseniz veya Ares Ecza Deposu ile çalışma hakkında daha fazla bilgi edinmek istiyorsanız,
                    aşağıdaki formu kullanarak bizimle iletişime geçebilirsiniz. En kısa sürede memnuniyetle size
                    yardımcı olacağız.
                </p>

                <h3 class="mb-4">{{ _("İletişim Formu") }}</h3>

                {% include 'core/messages.html' %}
                
                <form class="contact-form custom-contact-form-style-1"  method="post">
                    {% csrf_token %}                   
                    <div class="form-floating mb-3">
                        <input type="text" name="{{ form.name.name }}" class="form-control" id="{{ form.name.id_for_label }}" placeholder="{{ form.name.label }}" minlength="2" maxlength="200" required />
                        <label for="{{ form.name.id_for_label }}">{{ form.name.label }} *</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" name="{{ form.email.name }}" class="form-control" id="{{ form.email.id_for_label }}" placeholder="name@example.com" minlength="2" maxlength="200" required />
                        <label for="{{ form.email.id_for_label }}">{{ form.email.label }}*</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" name="{{ form.content.name }}" placeholder="{{ form.content.label}}" id="{{ form.content.id_for_label }}"
                            required minlength="10" maxlength="500"></textarea>
                        <label for="{{ form.content.id_for_label }}">{{ form.content.label}} *</label>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" name="{{ form.kvkk.name }}" class="form-check-input" id="{{ form.kvkk.id_for_label}}" required>
                        <label class="form-check-label" for="{{ form.kvkk.id_for_label}}">
                            <a href="#">KVKK Aydınlatma Metnini</a> Onaylıyorum
                        </label>
                    </div>
                    <button class="btn btn-outline-primary mb-2 custom-border-radius fw-bold">
                        Gönder
                    </button>
                </form>
            </div>
            <div class="col-md-4">

                <div class="row g-4 py-5 ">
                    <div class="col d-flex align-items-start">
                        <div
                            class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                class="bi bi-geo-alt text-turuncu" viewBox="0 0 16 16">
                                <path
                                    d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
                                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                            </svg>
                        </div>
                        <div>
                            <h3 class="fs-2">{{ _('Adres')}}</h3>
                            <p class="fs-5">{{ _('Macun Mah., 209. Sokak No:19, 06105 Yenimahalle/Ankara') }}</p>
                        </div>
                    </div>
                    <div class="col d-flex align-items-start">
                        <div
                            class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                class="bi bi-headset text-turuncu" viewBox="0 0 16 16">
                                <path
                                    d="M8 1a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a6 6 0 1 1 12 0v6a2.5 2.5 0 0 1-2.5 2.5H9.366a1 1 0 0 1-.866.5h-1a1 1 0 1 1 0-2h1a1 1 0 0 1 .866.5H11.5A1.5 1.5 0 0 0 13 12h-1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h1V6a5 5 0 0 0-5-5z" />
                            </svg>
                        </div>
                        <div>
                            <h3 class="fs-2">{{ _('Telefon')}}</h3>
                            <p class="fs-5">+90 (312) 222 30 31</p>
                        </div>
                    </div>
                    <div class="col d-flex align-items-start">
                        <div
                            class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                class="bi bi-envelope-at text-turuncu" viewBox="0 0 16 16">
                                <path
                                    d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z" />
                                <path
                                    d="M14.247 14.269c1.01 0 1.587-.857 1.587-2.025v-.21C15.834 10.43 14.64 9 12.52 9h-.035C10.42 9 9 10.36 9 12.432v.214C9 14.82 10.438 16 12.358 16h.044c.594 0 1.018-.074 1.237-.175v-.73c-.245.11-.673.18-1.18.18h-.044c-1.334 0-2.571-.788-2.571-2.655v-.157c0-1.657 1.058-2.724 2.64-2.724h.04c1.535 0 2.484 1.05 2.484 2.326v.118c0 .975-.324 1.39-.639 1.39-.232 0-.41-.148-.41-.42v-2.19h-.906v.569h-.03c-.084-.298-.368-.63-.954-.63-.778 0-1.259.555-1.259 1.4v.528c0 .892.49 1.434 1.26 1.434.471 0 .896-.227 1.014-.643h.043c.118.42.617.648 1.12.648Zm-2.453-1.588v-.227c0-.546.227-.791.573-.791.297 0 .572.192.572.708v.367c0 .573-.253.744-.564.744-.354 0-.581-.215-.581-.8Z" />
                            </svg>
                        </div>
                        <div>
                            <h3 class="fs-2">{{ _('E-Posta')}}</h3>
                            <p class="fs-5">info@aresecza.com.tr</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="py-section-b">
    <div class="container px-5 ">
        <div class="row">
            <div class="col  border rounded  shadow-sm p-4">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d24468.441612285256!2d32.760945!3d39.951338!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d3490187617d7d%3A0xe1264ebbbc5b48cc!2sAres%20Ecza%20Deposu!5e0!3m2!1str!2str!4v1680014641605!5m2!1str!2str" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>    
</section>


{% endblock content %}