<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center pb-4">
                <a class="nav-link" href="#">
                    Bilgi Güvenliği ve Kişisel Verilerin Korunması
                </a>
            </div>
            <div class="col-lg-12 text-center pb-4 fw-light">
                <p>
                    Copyright © 2022 - 2023 Tüm Hakları Saklıdır
                    <span class="text-color-light">Elkom Ecza Deposu</span> |
                    <a href="" class="text-decoration-none"> Elkom Yazılım</a>
                </p>
            </div>
        </div>
    </div>
</footer>